// .head {
//   font-size: 2rem;
//   margin: 1rem 0;
//   font-weight: bold;
//   color: #3f52b5;
// }
.title {
  font-size: 1.5rem;
  margin: 1rem 0;
}
.download {
  display: inline-block;
  padding: 16px 32px;
  cursor: pointer;
  background-color: #3f52b5;
  border-radius: 4px;
  border: 0px;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  &:hover {
    opacity: 0.9;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
      0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }
}
