//プルダウン
.monthSelect {
  margin: 10px 5px 0 5px !important;
  background-color: #fff;
}
.yearSelect {
  background-color: #fff;
  margin-top: 10px !important;
}
//メモ
.textarea {
  background-color: #fff;
  margin-top: 10px !important;
  margin-bottom: 20px !important;
  width: 30% !important;
}
//送信ボタン
.addBtn {
  width: 40px !important;
  height: 50px !important;
  margin: 12px 0 0 10px !important;
}
.error {
  color: red !important;
  margin-left: 200px;
  margin-top: -20px;
  font-size: small;
}
.successBar {
  width: 300px !important;
  display: block !important;
  .successIcon {
    padding-left: 30% !important;
  }
}