//テーブル
.wrap {
  margin-bottom: 20px;
}
.head {
  background-color: #3f52b5;
}
.cell {
  color: #fff !important;
  border: 1px solid #cccc !important;
}
.row {
  border: 1px solid #ccc !important;
}
.body:nth-of-type(2n) {
  background-color: #eee !important;
}
//計 二重線
.body:nth-of-type(12n) {
  border-bottom: double 5px #6666 !important;
}
